@model StudentsSocialMedia.Web.ViewModels.Messages.AllMessagesByIdListViewModel
@{
    this.ViewData["Title"] = "All Messages for this group";
}

<style>
    body {
        background-color: #d5d6de;
    }
</style>

<div class="header-spacer"></div>
<div class="row justify-content-center" style="margin-right: -190px;">
    @foreach (var message in this.Model.Messages)
    {
        <div class="ui-block col-md-7">
            <div class="col-md-2"></div>
            <div class="row" style="visibility: hidden;">5555555</div>
            <div class="control-block-button post-control-button" style="padding-left: 63.5em;">

                <a href="#" class="btn btn-control more" style="cursor: auto;background-color: #9a9fbf">
                </a>

                <a href="#" class="btn btn-control" style="cursor: auto;background-color: #9a9fbf">
                </a>

                <a href="#" class="btn btn-control" style="cursor: auto;background-color: #9a9fbf">
                </a>
            </div>

            <div class="author-date" style="padding-left:1em;padding-top:1em;">
                <img class="rounded-circle img-fluid" src="@message.ImageUrl" alt="user" style="width: 42px; height:41px; margin-top: 9px;" />
                <a asp-controller="Profiles" asp-action="Timeline" asp-route-id="@message.UserId" style="font-size: 14px; margin-left: 10px; margin-top: -7px;">@message.UserUserName </a>
                <div class="post__date" style="font-size: 14px; padding-left:4em; margin-top: -15px;">
                    <time class="published">
                        @message.CreatedOn
                    </time>
                </div>
            </div>
            <div class="row" style="visibility: hidden;">5555555</div>
            <div class="row" style="visibility: hidden;">5555555</div>
            <p style="font-size: 14px; padding-left: 1em;">@message.Content</p>
            <div class="row" style="visibility: hidden;">5555555</div>
        </div>

    }
</div>
