@model StudentsSocialMedia.Web.ViewModels.Comments.AllViewModelList
@{
    this.ViewData["Title"] = "All comments for this post";
}

<style>
    .img-fluid {
        width: 160px;
    }

    body {
        background-color: #d5d6de;
    }
</style>

<div class="header-spacer"></div>


@if (this.Model.CommentsCount == 0)
{
    <div class="row example mb-lg-5"></div>
    <div class="row example mb-lg-5"></div>
    <div class="row example mb-lg-5"></div>
    <div class="row example mb-lg-4"></div>

    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="form-group">
            <div class="row justify-content-center">
                <img src="~/images/comments.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="row example mb-lg-5"></div>

            <div class="row justify-content-center">
                <h2 class="text-center">There are no comments for this post yet!</h2>
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center" style="margin-right: -30px;">
        <div class="col-md-2"></div>
        <h1>@this.ViewData["Title"]</h1>
    </div>
    <div class="row example" style="visibility: hidden;">j</div>
    <div class="row example" style="visibility: hidden;">j</div>
    <div class="row justify-content-center" style="margin-right: -190px;">

        @foreach (var comment in this.Model.Comments)
        {
            <ul class="comments-list col-md-7">
                <li class="col-md-5"></li>
                <li class="comment-item">

                    <div class="control-block-button post-control-button" style="padding-left: 60.5em;">

                        <a href="#" class="btn btn-control more" style="cursor: auto;background-color: #9a9fbf">
                        </a>

                        <a href="#" class="btn btn-control" style="cursor: auto;background-color: #9a9fbf">
                        </a>

                        <a href="#" class="btn btn-control" style="cursor: auto;background-color: #9a9fbf">
                        </a>
                    </div>
                    <div class="post__author author vcard inline-items">
                        <div class="row" style="visibility: hidden;">5555555</div>
                        <div class="author-thumb" style="padding-left:1em;">
                            <img loading="lazy" class="rounded-circle" src="@comment.AuthorImageUrl" style="height:40px; width: 40px;">
                        </div>
                        <div class="author-date">
                            <a class="h6 post__author-name fn" style="font-size: 14px;" asp-controller="Profiles" asp-action="Profile" asp-route-id="@comment.AuthorId">@comment.AuthorUserName</a>
                            <div class="post__date" style="font-size: 14px;">
                                <time class="published">
                                    @comment.CreatedOn
                                </time>
                            </div>
                        </div>

                    </div>

                    <p style="font-size: 14px; padding-left: 1em;">@comment.Content</p>

                    <div class="row" style="visibility: hidden;">jjj</div>
                    <div class="row">
                        &nbsp;&nbsp;
                        &nbsp;
                        <a asp-controller="Replies" asp-action="AllById" asp-route-id="@comment.Id" class="btn  btn-md-2 " style="color: #ff5e3a;font-size: 14px; padding-top: 1em;">View all replies for this comment</a>

                        <a asp-controller="Replies" asp-action="Create" asp-route-id="@comment.Id" class="btn  btn-md-2" style="color: #ff5e3a;font-size: 14px; padding-top: 1em;">Reply</a>
                    </div>
                </li>
            </ul>

        }
    </div>
}
