@model StudentsSocialMedia.Web.ViewModels.Forum.Posts.AllPostsByIdListViewModel
@{
    this.ViewData["Title"] = "All posts for this category";
}

<style>
    .img-fluid {
        width: 160px;
    }

    body {
        background-color: #d5d6de;
    }
</style>

<div class="header-spacer"></div>


@if (this.Model.Posts.Count() == 0)
{
    <div class="row example mb-lg-5"></div>
    <div class="row example mb-lg-5"></div>
    <div class="row example mb-lg-5"></div>
    <div class="row example mb-lg-4"></div>

    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="form-group">
            <div class="row justify-content-center">
                <img src="~/images/posts.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="row example mb-lg-5"></div>

            <div class="row justify-content-center">
                <h3>There are no posts for this category yet!</h3>
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <h1>@this.ViewData["Title"]</h1>

    </div>
    <div class="row example" style="visibility: hidden;">j</div>
    <div class="row example" style="visibility: hidden;">j</div>
    @foreach (var post in this.Model.Posts)
    {
        <div class="row justify-content-center" style="margin-right: -30px;">
            <div class="col-md-2"></div>
            <div class="component col-md-7">
                <div class="card">
                    <div class="row example" style="visibility: hidden;">j</div>
                    <div class="row" style="visibility: hidden;">5555555</div>
                    <div class="row" style="padding-left:4em;">
                        <div class="author-thumb">
                            <img class="img-fluid" src="@post.ImageUrl" style="height:40px; width: 40px;" />
                        </div>
                        <a asp-area="" asp-controller="Profiles" asp-action="Timeline" asp-route-id="@post.UserId" style="margin-top: 10px;">
                            <h5>&nbsp;&nbsp;@post.UserUserName</h5>
                        </a>
                    </div>

                    <div class="card-body" style="margin-top: -5px; padding-left: 4em;">
                        <p class="card-text">@Html.Raw(post.Content)</p>
                    </div>

                    <div class="row" style="visibility: hidden;">jjj</div>

                    <div class="row justify-content-start" style="padding-left:4em;">
                        <a asp-area="Forum" asp-controller="Comments" asp-action="Create" asp-route-id="@post.Id" class="btn" style="color: #ff5e3a;font-size: 14px; padding-top: 1em;">Create new comment</a>
                        <a asp-area="Forum" asp-controller="Comments" asp-action="AllById" asp-route-id="@post.Id" class="btn" style="color: #ff5e3a;font-size: 14px; padding-top: 1em;">View all comments</a>
                        <div style="visibility:hidden;">5</div>
                        <div style="padding-top: 1.2em;color: #888da8; padding-left:15em;">@post.CreatedOn</div>

                    </div>
                    <div class="row" style="visibility: hidden;">5555555</div>
                    <div class="control-block-button post-control-button" style="padding-left: 55.2em; padding-top: 1em;">

                        <a href="#" class="btn btn-control more" style="cursor: auto;background-color: #9a9fbf">
                        </a>

                        <a href="#" class="btn btn-control" style="cursor: auto;background-color: #9a9fbf">
                        </a>

                        <a href="#" class="btn btn-control" style="cursor: auto;background-color: #9a9fbf">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    }
}
